<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/estilos.css">
  <title>Editorial El Clima</title>
</head>

<body>
  <header>
    <a href="index.html"><img src="./CSS/imgs/ComunidadxEC_Hor2.png" alt="Logo" height="50" width="176"></a>
    <nav>
      <ul>
        <li class="listanav">
          <a href="./index.html">Inicio</a>
        </li>
        <li class="listanav">
          <a href="./segunda.html">Quienes somos</a>
        </li>
        <li class="listanav">
          <a href="./tercera.html">Otras iniciativas</a>
        </li>
        <li class="listanav">
          <a href="./cuarta.html" target="_blank">Mas informacion</a>
        </li>
        <li class="listanav">
          <a href="contacto.html">Registrate y apoyanos</a>
        </li>
      </ul>
    </nav>
  </header>
  <div id="Banner">
    <img src="./CSS/imgs/paisaje.jpg" alt="Banner" height="500px" width="100%">
  </div>